.outline {
    display: flex;
    justify-content: center;  /*가로 정렬*/
}

#add-line{
    top: 400px;
    margin-top: 10px;
    position: fixed;
}
#input-box {
    height: 30px;
    width: 300px;
}
#add-button{
    height: 35px;
    width: 35px;
}